{% extends "base.html" %}
{% block content %}
<h1>Добавление дела</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}<br>
        {{ form.doing_category.label }}<br>
        {% for subfield in form.doing_category %}
         <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}